<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>contact</title>

    <link rel="stylesheet" href="static/css/Contact-Form-Clean.css">

</head>

<body>
    {% include 'navbar.html' %}

    {% if showmsg %}
    <h2 class="text-center" style="color: #F4B400;">{{showmsg}}</h2>
    {% endif%}


    <section class="contact-clean" style="background: rgba(255,255,255,0);">
        <form method="POST" style="background: rgba(66,133,244,0.15);box-shadow: 2px 3px rgba(219,68,55,0.15);">
            {% csrf_token %}
            <h2 class="text-center" style="color: #F4B400;">聯絡我</h2>
            <div class="mb-3"><input class="form-control" type="text" placeholder="如何稱呼您" name="user_name">
            </div>

            <div class="mb-3"><input class="form-control" type="text" placeholder="主旨" name="user_subject">
            </div>

            <div class="mb-3"><input class="form-control" type="email" name="user_email" placeholder="您的電子郵件">
            </div>

            <div class="mb-3"><textarea class="form-control" name="user_msg" placeholder="您要傳達的訊息" rows="14"></textarea>
            </div>

            <div class="text-center mb-3"><button class="btn" type="submit"
                    style="font-size: 16px;background: rgba(15,157,88,0.5);max-width: 174px;color: #ffffff;box-shadow: 1px 1px #b5adad;">傳送</button>
            </div>
        </form>
    </section>
    {% include 'footer.html' %}
</body>

</html>