<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>簡延銜</title>

</head>

<body style="border-color: rgb(34,34,34);">
    {% include 'navbar.html' %}
    <div class="card" style="margin: 5% auto;width: 300px;padding: 10px;background: #808069;color: #f5f5f5;">
        <div class="card-body">
            <h4 class="card-title">簡延銜&nbsp;</h4>
            <h6 class="card-subtitle mb-2" style="border-color: rgb(241,188,49);margin: 17px 0px 8px;margin-top: 20px;">
                國立高雄科技大學 資管系 碩士</h6>
            <hr style="background: #ffffff;margin: 5px 0px;">
            <p class="card-text" style="margin-top: 8px;">資料探勘、文字分析</p>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>